<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>new listing</title>
</head>
<body>
    <h3>create a new listing</h3>
    <form method="POST" action="/listings">
         <div>
         <label for="title" class="form-label">Title</label>
         <input  name="listing[title]"placeholder="enter title" type="text"class="form-control"
     />  
   </div>
   <div>
      <label for="description" class="form-label">Description</label>
       <textarea name="listing[description]" class="form-control" ></textarea>
   </div>
         <br><br>
         <input name="listings[title]" placeholder="title" type="text">
         <br><br>
         <input name="listings[image]" placeholder="entr-link" type="text">
         <br><br>
         <input name="listings[price]" placeholder="entr-price" type="number">
         <br><br>
         <input name="listings[location]" placeholder="enter-location" type="text">
         <br><br>
         <input name="listings[country]" placeholder="entr-country" type="text">
         <br><br>
         <button>submit</button>
    </form>
</body>
</html>